
<div>
  <h2>Welcome to ANGH Education Page</h2>
</div>

<mat-drawer-container class="example-container" autosize>

  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>
      Serkan Holat<br>
      Fatih Soylemez
    </p>
  </mat-drawer>

  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">
      Show creators
    </button>
  </div>
  
</mat-drawer-container>

<div class="content" role="main">
  <button mat-button routerLink="">Home</button>

  <button mat-button [matMenuTriggerFor]="menuLessons">Lessons</button>
  <mat-menu #menuLessons="matMenu">
    <button mat-menu-item routerLink="/data-types">Data Types</button>
    <button mat-menu-item routerLink="/arrays">Arrays</button>
    <button mat-menu-item routerLink="/notes">Notes</button>
  </mat-menu>
  
  <button mat-button [matMenuTriggerFor]="menuExamples">Examples</button>
  <mat-menu #menuExamples="matMenu">
    <button mat-menu-item routerLink="/username">User Name</button>
    <button mat-menu-item routerLink="/operations">Operations</button>
    <button mat-menu-item routerLink="/form-practise">Forms</button>
    <button mat-menu-item routerLink="/api-practise">APIs</button>
  </mat-menu>
</div>



<router-outlet></router-outlet>