
<h3>Form Practise - Homework</h3>

<div>
  What's your name?
  <input [(ngModel)]="personsname" />
</div>

<div>
  What's your birth date?
  <input type="date" [(ngModel)]="birthDateText" />
</div>

<div>
  Are you smoking?
  <input type="radio" [value]="true" name="smoking" [(ngModel)]="isSmoking" /> Yes
  <input type="radio" [value]="false" name="smoking" [(ngModel)]="isSmoking" /> No
</div>

<div>
  How many children have you got?
  <input [(ngModel)]="noOfChildren" />
</div>

<div>
  Search by name:
  <input [(ngModel)]="searchName" /> <button (click)="searchByName()">Search</button>
</div>
<!--
<div>
  Search everything:
  <input [(ngModel)]="searchAll" /> <button (click)="searchAll()">Search</button>
</div>
-->
<div *ngIf="errorMessage !== ''" class="Warning">{{ errorMessage }}</div>

<div *ngIf="viewState == 'add'">
  <button (click)="enterPersonsInfo()">Add New Row</button>
</div>

<div *ngIf="viewState == 'update'">
  <button (click)="updatePersonsInfo()">Update</button>
  <button (click)="cancelPersonsInfo()">Cancel</button>
</div>

<br>
<div *ngIf="aile.length > 0; else noUser">
  <table border="1">
    <tr>
      <th>Name</th>
      <th>Birth Date</th>
      <th>Age</th>
      <th>Smoking?</th>
      <th>Children</th>
      <th>Delete</th>
      <th>Select</th>
    </tr>
    <tr *ngFor="let person of aileResult">
      <td>{{person.name}}</td>
      <td>{{person.birthDate}}</td>
      <td>{{person.age}}</td>
      <td>{{person._isSmoking}}</td>
      <td>{{person.noOfChildren}}</td>
      <td><button (click)="deleteRow(person)">Delete Row</button></td>
      <td><button (click)="selectRow(person)">Select Row</button></td>
    </tr>
  </table>
</div>
<ng-template #noUser>
  Please add a new person.
</ng-template>