<style>
  .Warning {
    border: 2px outset red;
    color: red;
    text-align: center;
  }
  </style>

<h3>Form Practise - Homework</h3>

<div>
  What's your name?: 
  <input [(ngModel)]="personsname" />
</div>
<div *ngIf="this.ifNameEmpty" class="Warning">
  Name can't be empty!
</div>
<div>
  What's your age?: 
  <input [(ngModel)]="personsage" />
</div>

<div *ngIf="this.viewState == 'add'">
  <button (click)="enterPersonsInfo()">Add New Row</button>

</div>

<div *ngIf="this.viewState == 'update'">
  <button (click)="updatePersonsInfo()">Update</button>
  <button (click)="cancelPersonsInfo()">Cancel</button>
</div>

<br>
<div *ngIf="aile.length > 0; else noUser">
  <table border="1">
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Delete</th>
      <th>Select</th>
    </tr>
    <tr *ngFor="let person of aile">
      <td>{{person.name}}</td>
      <td>{{person.age}}</td>
      <td><button (click)="deleteRow(person)">Delete Row</button></td>
      <td><button (click)="selectRow(person)">Select Row</button></td>
    </tr>
  </table>
</div>
<ng-template #noUser>
  Please add a new person.
</ng-template>