<h3>Reusable component</h3>
<div>
  username: {{ username }}
</div>
<div>
  <input [(ngModel)]="usernameTemp" />
</div>
<div>
  <button (click)="changeUsername()">kullanici adini guncelle</button>
</div>
<hr />
<input [(ngModel)]="number1" />
<input [(ngModel)]="number2" />
<button (click)="changeOperation('add')">+</button>
<button (click)="changeOperation('subtract')">-</button>
<button (click)="changeOperation('multiply')">*</button>
<button (click)="changeOperation('divide')">/</button>
current op: {{ operation }}
<button (click)="calculate()">Calculate</button>
res: {{ result }}